@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background:radial-gradient(#ccc, #999);
  
}
.a{
  opacity: 50%;
}
.text{
text-align:  bottom;
color: rgb(175, 172, 172);
opacity: 50%;
}
.text-1{
  text-align:  bottom;
  color: rgb(34, 23, 23);
  opacity: 25%;
  }
  .text-1::selection{
    background-color: transparent;
    color: #f7e69a;
    }



h1 {

  color: rgb(41, 50, 58);
}

.box-1{
  display: flex;
  background:rgba(175, 174, 174, 0.938);
  padding: 9px 14px;
  border-radius: 95px;
  box-shadow: 8px 8px 16px  rgba(46, 46, 46, 0.1);
  gap: 25px;
  text-decoration: none;
}

.header a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 24px;
}

.header a:hover {
  
  opacity: 40%;
  color: rgb(0, 0, 0);
}

.header-right {
  float: right;
  padding: 5px;
}

@media screen and (max-width: 500px) {
.header a {
  float: none;

  }
}
h4 {
  width: 85%;
}
a{
text-decoration:none;
color: rgb(255, 255, 255);
}

a::selection{
background-color: transparent;
color: #f7e69a;
}
.text-2{
	line-height: 20px;
	text-align: center;
  width: 250px;
}
.text-2::selection{
  background-color: transparent;
  color: #f7e69a;
  }
